{
  "extends": ["standard", "eslint-config-egg"],
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType":"module",
    "ecmaFeatures":{
      "experimentalObjectRestSpread":true,
      "modules":true
    }
  }
}